# Homarr — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=v1.72.0

# --- App Configuration ------------------------------------------------ [app] --
#   openssl rand -hex 32
HOMARR_SECRET_ENCRYPTION_KEY=__REPLACE_ME__

# --- Timezone --------------------------------------------------------- [app] --
TZ=UTC
