# Matomo — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=5.12.0-apache
DB_TAG=11.4

# --- Database -------------------------------------------------------- [app] --
DB_NAME=matomo
DB_USER=matomo
# openssl rand -hex 32
DB_PASSWORD=__REPLACE_ME__
# openssl rand -hex 32
DB_ROOT_PASSWORD=__REPLACE_ME__
DB_TABLES_PREFIX=mtm_

# --- PHP -------------------------------------------------------------- [app] --
PHP_MEMORY_LIMIT=256M

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
