# Scrutiny — local env
#   cp .env.local.example .env.local

APP_TAG=v0.9.4-web
COLLECTOR_TAG=v0.9.4-collector
INFLUXDB_TAG=2.8
INFLUXDB_DIGEST=sha256:af89d51080c9b4cf92b85e3899503089bc1f24c186e2a72a06dd8203a80ea33d
CONTAINER_NAME_COLLECTOR=scrutiny-local-collector
INFLUXDB_USER=scrutiny
INFLUXDB_ORG=scrutiny
INFLUXDB_BUCKET=metrics
INFLUXDB_UID=1000
INFLUXDB_GID=1000
APP_UID=1000
APP_GID=1000
COLLECTOR_CRON_SCHEDULE=0 0 * * *
TZ=UTC
