# Vaultwarden — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=1.37.0
DB_TAG=11.4

# --- Database -------------------------------------------------------- [app] --
DB_NAME=vaultwarden
DB_USER=vw_user
# openssl rand -hex 32
DB_PASSWORD=__REPLACE_ME__
DB_ROOT_PASSWORD=__REPLACE_ME__

# --- Vaultwarden ------------------------------------------------------ [app] --
VW_SIGNUPS_ALLOWED=true

# To enable /admin, generate a hash and paste the output here:
#   docker run --rm -it vaultwarden/server:1.37.0 /vaultwarden hash
# Double every $ in the hash:  $$argon2id$$v=19$$m=65540,t=3,p=4$$...
VW_ADMIN_TOKEN=

# trace, debug, info, warn, error
VW_LOG_LEVEL=debug

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
