# OnlyOffice Document Server — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=9.4.0

# --- App Configuration ----------------------------------------------- [app] --
# openssl rand -base64 30 | tr -d '\n'
JWT_SECRET=__REPLACE_ME__

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
