# OWASP Threat Dragon — local
#
#   cp .env.local.example .env.local

# --- Images ---
APP_TAG=v2.6.2

# --- App Configuration ---
# printf '[{"isPrimary": true, "id": "%s", "value": "%s"}]' "$(openssl rand -hex 4)" "$(openssl rand -hex 32)"
ENCRYPTION_KEYS=__REPLACE_ME__
# openssl rand -base64 48 | tr -d '\n'
ENCRYPTION_JWT_SIGNING_KEY=__REPLACE_ME__
ENCRYPTION_JWT_REFRESH_SIGNING_KEY=__REPLACE_ME__

# --- Timezone ---
TZ=UTC
