# Seafile Pro — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=13.0.21
DB_TAG=10.11
REDIS_TAG=7.4-alpine

# --- Database -------------------------------------------------------- [app] --
DB_USER=seafile
SEAHUB_DB_NAME=seahub_db
# openssl rand -base64 32 | tr -d '\n'
INIT_SEAFILE_MYSQL_ROOT_PASSWORD=__REPLACE_ME__
# openssl rand -base64 32 | tr -d '\n'
SEAFILE_MYSQL_DB_PASSWORD=__REPLACE_ME__

# --- Cache ----------------------------------------------------------- [app] --
# openssl rand -hex 32
REDIS_PASSWORD=__REPLACE_ME__

# --- App Configuration ----------------------------------------------- [app] --
SEAFILE_ADMIN_EMAIL=admin@example.com
# openssl rand -base64 32 | tr -d '\n'
INIT_SEAFILE_ADMIN_PASSWORD=__REPLACE_ME__
# openssl rand -base64 48 | tr -d '\n'
JWT_PRIVATE_KEY=__REPLACE_ME__

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
