# OpenProject CE — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=17.6.0-slim
DB_TAG=17-alpine
MEMCACHED_TAG=1.6-alpine

# --- Database -------------------------------------------------------- [app] --
DB_USER=openproject
DB_NAME=openproject
#   openssl rand -hex 32
DB_PASSWORD=__REPLACE_ME__

# --- App Configuration ----------------------------------------------- [app] --
# openssl rand -base64 64 | tr -d '\n'
SECRET_KEY_BASE=__REPLACE_ME__
OPENPROJECT_DEFAULT_LANGUAGE=en

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
