# Gatus — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=v5.36.0

# --- Logging --------------------------------------------------------- [app] --
LOG_LEVEL=DEBUG

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
