# HeyForm — local env
#   cp .env.local.example .env.local

COMPOSE_PROJECT_NAME=heyform-local
APP_TAG=v3.0.3
DB_TAG=8.0.32
CACHE_TAG=8.1.4-alpine
DB_ROOT_USER=heyform
DB_NAME=heyform
APP_ENABLE_GOOGLE_FONTS=false
APP_UPLOAD_FILE_SIZE=10mb
APP_SESSION_MAX_AGE=15d
SMTP_FROM=heyform@example.com
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
TZ=UTC
