# UniFi Network Application — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=10.4.57
DB_TAG=8.0

# --- User Mapping ---------------------------------------------------- [app] --
PUID=1000
PGID=1000

# --- Database -------------------------------------------------------- [app] --
DB_NAME=unifi
DB_ROOT_USER=root
# openssl rand -hex 32
DB_ROOT_PASSWORD=__REPLACE_ME__

# --- Memory ---------------------------------------------------------- [app] --
MEM_LIMIT=1024

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
