# Seafile CE — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=13.0.20
DB_TAG=10.11
MEMCACHED_TAG=1.6-alpine
REDIS_TAG=7.4-alpine

# --- Database -------------------------------------------------------- [app] --
SEAFILE_DB_USER=seafile
# openssl rand -base64 32 | tr -d '\n'
DB_ROOT_PASSWORD=__REPLACE_ME__
# openssl rand -base64 32 | tr -d '\n'
SEAFILE_DB_PASSWORD=__REPLACE_ME__

# --- Cache ----------------------------------------------------------- [app] --
# openssl rand -base64 32 | tr -d '\n'
REDIS_PASSWORD=__REPLACE_ME__

# --- App Configuration ----------------------------------------------- [app] --
SEAFILE_ADMIN_EMAIL=admin@example.com
# openssl rand -base64 32 | tr -d '\n'
SEAFILE_ADMIN_PASSWORD=__REPLACE_ME__
# openssl rand -base64 48 | tr -d '\n'
JWT_PRIVATE_KEY=__REPLACE_ME__

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
