# Immich — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=v3.0.3
DB_TAG=14-vectorchord0.4.3-pgvectors0.2.0
REDIS_TAG=8.1.6

# --- Database -------------------------------------------------------- [app] --
DB_NAME=immich
DB_USER=immich
#   openssl rand -hex 32
DB_PASSWORD=__REPLACE_ME__

# --- Storage --------------------------------------------------------- [app] --
UPLOAD_LOCATION=./volumes/local/library

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
