# Dashy — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=4.5.0

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
