# BookStack — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=version-v26.05.2
DB_TAG=11.4

# --- User Mapping ---------------------------------------------------- [app] --
# id -u ; id -g
PUID=1000
PGID=1000

# --- Database -------------------------------------------------------- [app] --
DB_NAME=bookstack
DB_USER=bookstack
# openssl rand -base64 32 | tr -d '\n'
DB_PASSWORD=__REPLACE_ME__
# openssl rand -base64 32 | tr -d '\n'
DB_ROOT_PASSWORD=__REPLACE_ME__

# --- BookStack App Key ----------------------------------------------- [app] --
# docker run --rm --entrypoint /bin/bash lscr.io/linuxserver/bookstack:version-v26.05.2 appkey
APP_KEY=__REPLACE_ME__

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
