# Photoview — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=2.4.0
DB_TAG=11.4

# --- Storage --------------------------------------------------------- [app] --
MEDIA_ROOT=./volumes/local/photos

# --- Database --------------------------------------------------------- [db] --
DB_NAME=photoview
DB_USER=photoview
# openssl rand -hex 32
DB_PASSWORD=__REPLACE_ME__
# openssl rand -hex 32
DB_ROOT_PASSWORD=__REPLACE_ME__

# --- Optional: Mapbox map view ---------------------------------------- [app] --
MAPBOX_TOKEN=

# --- Optional: video hardware acceleration ---------------------------- [app] --
PHOTOVIEW_VIDEO_HARDWARE_ACCELERATION=

# --- Timezone --------------------------------------------------------- [app] --
TZ=UTC
