# Vikunja — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=2.3.0
APP_DIGEST=sha256:f6b80393c1998cd5cd0dc38d24762c59ab4c10000a6f1032ef5b554e262cab93
DB_TAG=17-alpine

# --- Database -------------------------------------------------------- [app] --
DB_NAME=vikunja
DB_USER=vikunja
#   openssl rand -base64 32 | tr -d '\n'
DB_PASSWORD=__REPLACE_ME__

# --- App Configuration ----------------------------------------------- [app] --
#   openssl rand -base64 48 | tr -d '\n'
JWT_KEY=__REPLACE_ME__

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
