# UrBackup Server — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=2.5.x@sha256:e2fdc0d59071b0e9438ebb05fe163a839f767c4477851e87dcc3efa8df7ab299

# --- App Configuration ------------------------------------------------ [app] --
BACKUP_STORAGE_PATH=./volumes/local/backups

APP_MEM_LIMIT=4g
APP_CPU_LIMIT="2.00"

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
