# UrBackup Server — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=2.5.x@sha256:fd218c45192fad0d7df7989da2c991264eec0a37a85e33499db419b203e9745f

# --- App Configuration ------------------------------------------------ [app] --
BACKUP_STORAGE_PATH=./volumes/local/backups

APP_MEM_LIMIT=4g
APP_CPU_LIMIT="2.00"

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
