# Lychee — local
#
#   cp .env.local.example .env.local

# --- Images ------------------------------------------------------- [image] --
APP_TAG=v7.7.1
DB_TAG=11.4
REDIS_TAG=7.4-alpine

# --- Database -------------------------------------------------------- [app] --
DB_NAME=lychee
DB_USER=lychee
#   openssl rand -hex 32
DB_PASSWORD=__REPLACE_ME__
#   openssl rand -hex 32
DB_ROOT_PASSWORD=__REPLACE_ME__

# --- App Key --------------------------------------------------------- [app] --
#   echo "APP_KEY=base64:$(openssl rand -base64 32)"
APP_KEY=__REPLACE_ME__

# --- User Mapping ---------------------------------------------------- [app] --
#   id -u ; id -g
PUID=1000
PGID=1000

# --- Timezone -------------------------------------------------------- [app] --
TZ=UTC
