http:
  routers:
    acme-wildcard:
      rule: "Host(`acme-bootstrap.${ACME_WILDCARD_DOMAIN}`)"
      entryPoints:
        - websecure
      service: noop@internal
      tls:
        certResolver: ${ACME_RESOLVER_DNS}
        domains:
          - main: "${ACME_WILDCARD_DOMAIN}"
            sans:
              - "*.${ACME_WILDCARD_DOMAIN}"
